INSERT INTO Interview_Hospitals.dbo.Test (City, HospitalName, Address, StateCode) VALUES ('test1', 'test1', 'test1', 'test1')

SELECT *
FROM Interview_Hospitals.dbo.Test;



Select COUNT(*)
FROM Interview_Hospitals.dbo.Test;










--DELETE FROM Interview_Hospitals.dbo.Test;
